{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="items d-flex flex-wrap">
            {% for trailer in trailers %}
                <div class="item col-4 mt-5">
                    <p><a href="/trailer/{{ trailer.id }}">{{ trailer.title }}</a></p>
                    <img src="{{ trailer.image }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
