{% extends 'main.html.twig' %}

{% block content %}
    <div class="container">
        <a href="/" class="btn btn-primary mt-3">back</a>
        <div class="trailer d-flex justify-content-between mt-5">
            <div class="poster">
                <img src="{{ trailer.image }}" alt="">
            </div>
            <div class="info col-10">
                <h2>{{ trailer.title }}</h2>
                <p>{{ trailer.description }}</p>
                <a href="{{ trailer.link }}" class="btn btn-primary">source</a>
            </div>
        </div>
    </div>
{% endblock %}
